$purple-primary: #555da7;
$purple-secondary: #242c79;

$black: #000;
$white: #fff;
$gray1: #504f4f;

$shadow: rgba(0, 0, 0, 0.2);

.cfr-wrapper,
%cfr-wrapper {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

.cfr-main-content {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.acc-hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1.15;
	color: $black;
}

p {
	margin: 0 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 .75rem; //12px
	color: $purple-secondary;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.625em;
	margin-bottom: .75em;
}

.cfr-utility-nav {
	background: $gray1;
	padding: .5em 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		li {
			margin-left: .75rem;

			a {
				color: $white;
				font-size: 1.375rem;
			}
		}
	}
}

.cfr-utility-nav-content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cfr-search {
	margin-left: .75rem;
	color: $white;
}

.cfr-nav-wrapper {
	padding: .5em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	.custom-logo-link {
		height: 40px;

		img {
			width: auto;
			height: 100%;
		}
	}

	.cfr-wrapper {
		display: flex;
		align-items: center;
	}

	.main-navigation {
		flex: 0 70%;
		margin-left: auto;

		li {
			margin: 0 .5em;

			a {
				text-decoration: none;
				color: $black;
				font-weight: 300;
			}
		}
	}
}

.main-navigation .sub-menu {
	background: $white;
	padding: 1em;

	li {
		padding: .25em 0;

		a:hover {
			text-decoration: underline;
		}
	}
}

.cfr-hero {
	min-height: 400px;
	background-size: cover;
	background-position: 0;
	color: $white;
	display: flex;
	align-items: center;
}

.cfr-hero-content {
	background-color: rgba($purple-primary, .9);
	padding: 2em;
	width: 50%;

	a {
		margin-top: 1rem;
	}
}

.cfr-hero-title {
	color: $white;
}

.cfr-hero-date {
	text-transform: uppercase;
	font-size: .75rem;

	a {
		color: $white;
		text-decoration: none;

		&:visited {
			color: $white;
		}
	}
}

.cfr-grid-wrapper {
	text-align: center;

	.btn {
		margin: 2rem 0;
	}
}

.cfr-grid {
	display: flex;
	justify-content: space-between;
}

.cfr-grid-item {
	flex: 0 30%;
}


.cfr-cta {
	padding: 2em 0;
	background: $purple-primary;
	color: $white;
	text-align: center;

	h2 {
		color: $white;
	}

	p {
		margin: 1em 0;
	}
}

// Page & post
.cfr-post-header {
	background: $purple-primary;
	padding: 3rem 0;
	text-align: center;

	h1 {
		color: $white;
	}

	a {
		text-decoration: none;
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}
}

.cfr-blog-header {
	.cfr-hero-date {
		display: block;
		margin-bottom: .5rem;
	}
}

.byline {
	font-weight: bold;
	color: $white;

	a {
		color: inherit;
		text-decoration: none;

		&:visited {
			color: inherit;
		}
	}
}

.tags-links {
	margin-top: 1rem;
}

.post-navigation {
	background: $purple-primary;
	padding: 2rem;
}

.nav-links {
	@extend %cfr-wrapper;

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-previous::before {
	color: $white;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f053";
	margin-right: .5rem;
}

.nav-next::after {
	color: $white;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	margin-left: .5rem;
}

.entry-footer {
	@extend %cfr-wrapper;
}

.cfr-excerpt {
	margin: 1rem auto;
	padding: 1rem 0;
	border-bottom: 1px solid $purple-primary;

	.byline {
		color: $purple-primary;
	}

	.cfr-title {
		margin-bottom: .25rem;
	}

	p {
		margin-top: 1rem;
	}
}

.comment-meta {
	margin-bottom: .5rem;
}

.comment-author {
	margin-bottom: .5rem;
	font-size: 18px;
}

.comment-list {
	padding-left: 0;
	margin-left: 0;
}

.comment {
	border-top: 3px solid $purple-primary;
	padding: 16px 24px;

	.children {
		margin-left: 0;
		padding-left: 0;
		margin-top: 16px;
	}
}

.comment-reply-link {
	border: 1px solid $purple-primary;
	color: $purple-primary;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	padding: 0.25rem 1rem;

	&:hover,
	&:focus {
		background-color: $purple-primary;
		color: $white;
	}
}

.comment-metadata {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	.edit-link {
		display: block;
		margin-top: .5rem;
		font-size: 12px;
	}
}
