.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	padding: 0.25rem 1rem;
}

.btn--primary {
	background-color: $purple-secondary;
	color: $white;

	&:visited {
		color: $white;
	}
}

.btn--secondary {
	border: 1px solid $white;
	color: $white;

	&:visited {
		color: $white;
	}


	&:hover {
		background: $white;
		color: $purple-primary;
	}
}

.btn--lg {
	padding: .875rem 2.5rem;
}

